.banner-block
	.tp-banner-container
		.tp-banner(data-ng-controller="revCtrl")
			div(rev-slider id="rev_slider"
class="rev_slider"
data-version="5.1.1RC"
slider-Type="{{slider.sliderType}}"
slider-Layout="{{slider.sliderLayout}}"
gridwidth="{{slider.gridwidth}}"
gridheight="{{slider.gridheight}}"
auto-Height="{{slider.autoHeight}}"
min-Height="{{slider.minHeight}}"
full-Screen-Offset-Container="{{slider.fullScreenOffsetContainer}}"
full-Screen-Offset="{{slider.fullScreenOffset}}"
delay="{{slider.delay}}"
navigation="{{slider.navigation}}"
slides="slider.slides"
slider-Template-Url="common/directiveSlider/frontpage.slider.tpl.html")